# API Gateway
APP_PORT=8083

REDIS_HOST=localhost
REDIS_PORT=6382
REDIS_PASSWORD=redis_password

CLIENT_URL=http://localhost:3000

USER_SERVICE_URL=http://localhost:8081
FOOD_SERVICE_URL=http://localhost:8082

SPRING_SECURITY_USER_NAME=admin
SPRING_SECURITY_USER_PASSWORD=admin