# User Service
APP_PORT=8081

POSTGRES_HOST=localhost
POSTGRES_PORT=5433
POSTGRES_DB=db_user_name
POSTGRES_USER=db_user_user
POSTGRES_PASSWORD=db_user_password

REDIS_HOST=redis_user
REDIS_PORT=6379
REDIS_PASSWORD=redis_password

RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_USER=salob
RABBITMQ_PASSWORD=rabbitmq_password
RABBITMQ_VHOST=salob

# MinIO / S3-compatible storage
MINIO_ENDPOINT=minio:9000
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minio-secret-key
MINIO_BUCKET=user-service-bucket
MINIO_REGION=us-east-1
MINIO_USE_SSL=false
MINIO_FORCE_PATH_STYLE=true
